# GitHubに上げないファイルの設定

# 1. 実行ファイル（ffmpeg）を無視
ffmpeg.exe
ffprobe.exe

# 2. 今後ダウンロードされる音声ファイル（中身）をすべて無視
input_audio/*
out_maps/*

# 3. ただし、フォルダを維持するための .gitkeep だけは例外として残す
!input_audio/.gitkeep
!out_maps/.gitkeep

# 4. 自動生成されるファイルを無視する
.vscode/
__pycache__/